<p>order-list works!</p>
<button type="button" class="btn btn-outline-primary" (click)="addOrder()">Add Order</button>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Employee Name</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{order.empName}}</td>
        <td>
            <button type="button" class="btn btn-outline-primary" (click)="getOrderDetails(order.orderId)">getOrderDetails</button>
        </td>
      </tr>
    </tbody>
  </table>