<p>create- category is working</p>
<div class="col-md-6 offset-md-3">
    <h3> Create Category </h3>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>

        <div class="form-group">
            <label >Category Name</label>
            
            <input [(ngModel)]="category.categoryName" formControlName="categoryName"
            name="categoryName" class="form-control" type="text" >
            
          </div>
          <label >Brand Name</label>
          <div *ngFor="let brand of brands;let i = index" >
            
            <input type="checkbox" formArrayName="selectedBrands" [value]="brand.brandId" 
            (change)="onCheckboxChange($event)" />
            {{brand.brandName}}
            
        
    </div>
        <br>
        <button class="btn btn-success" type="submit">Submit</button>
    </form>

</div>
<!--            *ngIf="brand.brandName === category.brands.brandName" [checked]="true" 
-->